    @media (prefers-color-scheme: dark) { body { background: #000; color: #fff; }
    }
    @media (prefers-color-scheme: light) { body { background: #fff; color: #000; }
    }
    * {
        animation: fadeEffect 0.6s;
        background: var(--body-background);
        border: none;
        color: var(--body-color);
        font-family: "Open Sans";
        outline: none;
        text-decoration: none;
        transition: 0.6s;
        transition-timing-function: ease-out;      
    }
    a:active, a:visited { color: var(--body-color); }
    a:hover { text-decoration: underline; }
    a:link { color: #1a73e8); }
    a:.::selection, { background: #1a73e8; }
    .button:hover, button:hover, img:hover { text-decoration: none; transform: scale(1.06); }
    .box {background: rgba(26, 115, 232, 0.15); border-radius: 18px; margin: 1% 0; padding: 1%; }
    .date { font-size: small; opacity: 0.7; padding-bottom: 2%; }
    .footer { font-size: small; padding: 0.25% 0; text-align: center; }
    h1 { color: #1a73e8; padding-bottom: 2%; text-align: center; }
    h1:hover { transform: scale(0.94); }
    h2 { padding: 0.25% 0; }
    hr { border: 2px solid #1a73e8; border-radius: 4px; }
    html { caret-color: #1a73e8; padding: 1% 4%; scrollbar-color: #1a73e8 transparent; scrollbar-width: thin; scroll-behavior: smooth; }
    img { border-radius: 18px; display: block; margin-left: auto; margin-right: auto; padding: 2%; width: 50%; }
    img.small { padding: 2%; width: 25%; }
    ::selection { background: #1a73e8; }
    ::-webkit-scrollbar { width: 6px; }
    ::-webkit-scrollbar-thumb { background: #1a73e8; border-radius: 4px; }
